header {
    background-color: var(--color-neutral-1);
    padding: 12px 4%;
    position: sticky;
    top: 0;
    z-index: 1;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            display: flex;
            list-style: none;
            flex-direction: column;
            gap: 0.5rem;
            width: 100%;
            position: absolute;
            top: 80px;
            left: 0;
            padding: 1rem;

            &.show {
                display: flex;
            }

            li {
                text-align: center;

                a {
                color: var(--color-neutral-8);
                text-decoration: none;
                font-size: 1rem;
                transition: all 0.4s ease;

                    &:hover {
                        color: var(--color-primary-1);
                        border-bottom: 1px solid var(--color-primary-1);
                    }
                }
            }
        }

        .btn-default {
            display: none;
        }
    }
}