#home {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    min-height: calc(100vh - 96px);
    padding: 32px 4%;
    padding-top: clamp(0px, 5vw, 32px);
    margin-top: 70px;

    .home-image {
        width: clamp(300px, 50%, 400px);
    }

    .home-title {
        color: var(--color-neutral-9);
        text-align: center;
        font-size: clamp(3rem, 5vw, 4.3rem);
        text-transform: uppercase;
        line-height: 1.2;
        max-width: 700px;

        span {
            color: var(--color-primary-8);
        }
    }

    .home-description {
        color: var(--color-neutral-9);
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        max-width: 600;
    }
}

#europa {

    background-image: url(../imagens/background-main.png);
    background-size: contain;
    
    
    
    padding: 32px 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    min-height: calc(100vh - 96px);

    .title {
        font-size: 2.5rem;
        text-transform: uppercase;
        color: var(--color-primary-2);
        font-weight: 700;
        position: relative;
        text-align: center;
    }


}

