body {
    background-color: rgba(212, 209, 209, 0.848);
    
}
header {
    border: 1px solid black;
    display: flex; 
    margin: 10px;
    background-color: aqua;
    color: white;
}
header h2 {
    padding: 10px;
}
header a {
    color: white;
}
header a:hover {
    color: grey;
}

#europa {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-image: url(../imagens/a7.jpg);
    height: 500px;

    .title {
        h1 {
            position: relative;
            align-items: center;
        }
    }
}

footer {
    display: flex;
    background-color: grey;
    height: 100px;
}
footer h3 {
    padding: 10px;
    color: white;
    font-family: arial ;
}

#sobremim {
    color: white;
    background-color: orangered;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

#projetos {
    color: white;
    background-color: rgb(0, 166, 255);
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

#contato {
    color: white;
    background-color: rgb(20, 89, 50);
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

#btn {
    border-radius: 20px;
    font-size: 30px;
    cursor: pointer;
}
#btn:hover{
    background: red;
    color: white;
    border-radius: 0px;
}

p {
  font-family: "helvetica neue", helvetica, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid rgba(0, 0, 200, 0.6);
  background: rgba(0, 0, 200, 0.3);
  color: rgba(0, 0, 200, 0.6);
  box-shadow: 1px 1px 2px rgba(0, 0, 200, 0.4);
  border-radius: 10px;
  padding: 3px 10px;
  display: inline-block;
  cursor: pointer;
}