:root {
    --color-neutral-0: #ffffff;
    --color-neutral-1: #c9c9c9;
    --color-neutral-9: #000000;

    --color-primary-1: #750d12;
    --color-primary-2: #ecad00;
    --color-primary-5: #16235A;
    --color-primary-6: #8998d4;
    --color-primary-7: #0ABDA0;
    --color-primary-8: #438ccf;
}