:root {
    --color-neutral-0: #ffffff;
    --color-neutral-1: #c9c9c9;
    --color-neutral-9: #000000;

    --color-primary-1:#34815d;
    --color-primary-2:#2c6e4f;
    --color-primary-3:#245c42;
    --color-primary-4:#dd7896;
    --color-primary-5:#16235A;
    --color-primary-6:#8998d4;
    --color-primary-7:#0ABDA0;
    --color-primary-8:#438ccf;
}