* {
    margin: 0;
}

ul li {
    list-style: none;
    padding: 5px;
}

a:link {
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: Courier New, Helvetica, sans-serif;
}

.cabecalho {
    background-color: #f1b10e;
    width: auto;
    height: 350px;
    margin: 50px;
}

.conteudo-cabecalho {
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;;
    position: center;
}

.conteudo-paises {
    width: 200px;
    margin-left: 20px;
    text-align: center;
    padding: 10px;
    display: inline-block;
    background-color: #f5c856;
}

#paises {
    text-align: center;
}

#paises-europeus {
    text-align: center;
    padding: 10px;
    padding-right: 40px;
    color: white;
}

.conteudo-turismo {
    width: 300px;
    margin-left: 20px;
    text-align: center;
    display: inline-block;
    background-color: #f5c856;
}

#turismo {
    text-align: center;
    padding-right: 35px;
    padding-bottom: 20px;
    padding-top: 20px;
}

#cabecalho-turismo {
    padding-top: px;
}